.header {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 36px 0px 36px;
    height: 9vh;
    display: grid;
    grid: auto / auto auto;
    border-bottom: 2px solid #EEEEEE;
    background-color: white;
    z-index: 5;
}

.logo {
    width: 190px;
    height: 49px;
}

.header-font {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
}